.container-about {
    position: relative;
    background-color: white;
    margin-bottom:50px;
    padding-top:50px;
    justify-content: center;
    display: flex;
    box-sizing: content-box;
    box-sizing: border-box;
    margin: 80px;
    

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        top: -80px;
        position: absolute;
    }

    .container-abaut-inf {
        display: flex;
 

        .info-personal {
            display: flex;
            width:60%;
            flex-direction: column;
            padding: 40px;
            padding-left: 50px;
          

            p {
                line-height: 35px;
            }

            a {
                margin: 60px 0;
            }
        }

        .info-contact {
            display: flex;
            flex-direction: column;
            align-self: stretch;
            width: 35%;
            padding: 40px;

            strong {
                padding: 10px;

                span {
                    font-weight: 200;
                    padding: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .container-about {
        background: none;
        margin: 0;
        padding: 0;
        justify-content: center;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            top: -60px;
        }

        .container-abaut-inf {
            display: inline-block;
            margin-top: 60px;

            .info-personal {
                width: 100%;
                padding: 2px;

                a {
                    margin: 20px 0;
                }
            }

            .info-contact {
                width: 100%;
                padding: 3px;
                justify-content: center;

                strong {
                    padding: 8px;

                    span {
                        font-weight: 200;
                        padding: 5px;
                    }
                }
            }
        }
    }
}
