.container {
    background-image: url("/container.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .container-encabezado {
        text-align: center;
        align-content: center;
        position: absolute;
        top: 400px;
        left: 700px;

        h1 {
            font-size: 3.5em;
            color: rgb(209, 209, 209);
            padding: 20px;
        }

        span {
            color: rgb(207, 207, 207);
            font-size: 25px;
        }
    }
}
