.container-proyecto-link {
    text-decoration: none;
    color: black;

    .container-proyecto {
        display: flex;
        align-items: center;
        flex-direction: column;
       

        img {
            height: 300px;
            width: 100%;
            object-fit: cover;
        }

        div {
            padding: 20px;
            h3 {
                margin: 0;
                font-size: 1.5em;
                font-weight: 500;
                height: 2em;
                text-align: center;
            }

            span {
                color: grey;
                margin: 0;
                // line-height: 1;
                // letter-spacing: 1.6px;
                white-space: pre-wrap;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .container-proyecto-link {
        .container-proyecto .container-proyecto {
            img {
                height: 200px;
                object-fit: contain;
            }
        }
    }
}
