.container-service {
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #fff;
    position: relative;

    img {
        height: 80px;
        object-fit:cover;
        width: 80px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translate3d(-50%,0,0);
        top: -40px;
    }

    h2 {
        margin-top: 40px;
        font-size: 1.5em;
        font-weight: 400;
        height: 2em;
        text-align: center;
    }

    span {
        color: grey;
        margin: 0;
    }
}
