.container-proyecto {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(238, 238, 238, 0.933);

    img {
        height: 300px;
        width: 100%;
        object-fit:cover;
    }

    div {
        padding: 20px;
        h3 {
            margin: 0;
            font-size: 1.5em;
            font-weight: 300;
            height: 2em;
            text-align: center;
       
        }

        span {
            color: grey;
            margin: 0;
            
        }
    }
}
